.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__address {
  max-width: 98px;
  justify-self: end;
  font-style: normal; 
  font-size: 18px;
  text-underline-offset: 4px;
  line-height: 1.35;
  max-width: 240px;
}

.address {
  line-height: 1.35;
}

.cover {
  position: relative;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
  color: #fff;
  z-index: 1;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 0.3em;
  margin-bottom: 106px;
}

.aligned-text {
  display: block;
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
  margin: 20px 0;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  line-height: 1.27;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: calc((100% - 50px) / 3);
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.2;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.about {
  display: grid;
  grid-template-columns: 312px 1fr;
  gap: 25px;
  margin: 0 24px 180px 24px;
  padding: 35px 0px 0px 47px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 100px 0;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 25px;
} 

.about__text:last-child {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
